body {
    margin: 0;
    background-color: #f2f3f4;
    font-family: "Rubik", sans-serif;;
}

.headerPart {
    padding: 5px 0 0;
}

.headerContainer {
    width: 90%;
    min-width: 650px;
    margin: auto;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

.home-button {
    margin-right: 60px; 
}

.home-icon {
    width: 80px; 
    height: 80px; 
}

.link {
    font-size: 1.5rem;
    text-decoration: none;
}

header {
    background-color: #2d5f5d;
    /* border: 3px solid black; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.aboutMe{
    padding-top: 2%;
    padding-right: 5%;
}

.divHeader{
    padding-left: 7%;
}

.article{
    padding-left: 5%;
    font-size: 1.2rem;
    text-indent: 2em;
    line-height: 1.3;
    padding-bottom: 2rem;
}