body {
    margin: 0;
    background-color: #f2f3f4;
    font-family: "Rubik", sans-serif;;
}

.headerPart {
    padding: 5px 0 0;
}

.headerContainer {
    width: 90%;
    min-width: 650px;
    margin: auto;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

.home-button {
    margin-right: 60px; 
}

.home-icon {
    width: 80px; 
    height: 80px; 
}

.link {
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 4rem;
}

header {
    background-color: #2d5f5d;
    /* border: 3px solid black; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.aboutMe{
    padding-top: 2%;
    padding-right: 5%;
}

.divHeader{
    padding-left: 10%;
}

.article{
    padding-left: 5%;
    font-size: 1.2rem;
    text-indent: 2em;
    line-height: 1.3;
    padding-bottom: 2rem;
}

.project{
    padding-top: 2%;
    padding-right: 5%;
}

.projectDescr{
    padding-left: 5%;
    font-size: 1.2rem;
    text-indent: 2em;
    line-height: 1.3;
    padding-bottom: 0.5rem;
}

.projectDescr li {
    margin-left: 3%;
}

.imgGUI{
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 1.5rem;
    padding-left: 25%;
    padding-right: 30%;
}

.imgGUI img {
    max-width: 100%;
    height: auto;
    object-fit: contain; 
}

.githubLink{
    text-decoration: none;
    color: #198754;
}

.scrollup{
    width:50px;
    height:50px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('../static/toTop-icon.png') no-repeat;
}

.projectCard {
    border-radius: 15px;
    border: 1px solid #2d5f5d;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin-left: 5%;
    margin-bottom: 2rem;
}

.projectCardTop{
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #2d5f5d;
    color: #f2f3f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectCardBot{
    padding: 10px;
    font-size: 1.2rem;
    text-indent: 1.5rem;
}

.logoImage{
    width: 100px;
    height: 100px;
}
