<!DOCTYPE html>
<html lang="ru">
    
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="utf-8">
    <title>Web-Portfolio</title>
</head>

<body>
    <header class="headerPart">
        <div class="headerContainer">
            <div class="nav-group">
                <a class="home-button" href="/portfolio">
                    <img src="static/home-icon.png" alt="Домой" class="home-icon">
                </a>
                <nav>
                    <a class="link">Список работ</a>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>